 <nav class="navbar navbar-default">
   <ul class=" nav navbar-nav">
     <li>
       <a routerLink='tajmahal'>TajMahal</a>
      </li>
      <li>
        <a routerLink='akshardham'>Akshardham Temple</a>
      </li>
      <li>
        <a routerLink='Himalayas'>Himalayas</a>
      </li>
      <li>
        <a routerLink='calculator'>calculator</a>
      </li>
   </ul>
 </nav>
<router-outlet></router-outlet>


<!-- <div class="container">
  <div class="row">
    <div class="col" style="background-color: blue; height: 100vh">
      <p onclick="showImage()">TajMahal</p>
      </div>
    <div class="col" style="background-color: blueviolet; height:100vh;">
      <p>Akshardham Temple</p>
    </div>
    <div class="col" style="background-color: aquamarine; height:100vh;">
      <p>Himalayas</p>
    </div>
  </div>
</div> -->